.box {
  width: 1500px;
  height: 540px;
  background-color: #1c2742;
  color: pink;
}

@media (min-width: 298px) {
  .box {
    width: 290px;
    height: 540px;
    background-color: #1c2742;
    color: white;
  }
}

@media (min-width: 314px) {
  .box {
    width: 310px;
    height: 540px;
    background-color: #1c2742;
    color: white;
  }
}

@media (min-width: 460px) {
  .box {
    width: 450px;
    height: 540px;
    background-color: #1c2742;
    color: white;
  }
}

@media (min-width: 740px) {
  .box {
    width: 730px;
    height: 540px;
    background-color: #1c2742;
    color: white;
  }
}

@media (min-width: 925px) {
  .box {
    width: 920px;
    height: 520px;
    background-color: black;
    color: yellow;
  }
}

@media (min-width: 1120px) {
  .box {
    width: 1100px;
    height: 525px;
    background-color: white;
    color: pink;
  }
}

@media (min-width: 1300px) {
  .box {
    width: 1250px;
    height: 525px;
    background-color: black;
    color: pink;
  }
}

.texto {
  text-align: center;
  position: fixed;
  position: relative;
  right: auto;
  left: auto;
  top: 200px;
  bottom: 200px;
}
